.main-page-container{
    margin: 20px;
    height: auto;
    width:  auto;
    background: white;
}

.left-side {
    width: 50%;
    float: left;
}

.right-side {
    width: 50%;
    float: right;
    text-align: left;
}

.timestamp-container{
    width: 700px;
    height: 457px;
    border: 10px solid #DCDCDC;
    overflow-y: scroll;
}

.keyword-input-container{
    margin: 5px;
}

.left-keyword{
    display: inline-block;
    width: 68%;
}

.keyword-input{
    border: 3px solid #DCDCDC!important;
}

.right-keyword{
    display: inline-block;
    width: 28%;
    margin-left: 5px;
}

.grey-btn{
    background-color: #DCDCDC!important;
    border: 0px !important;
    width: 200px;
    height: 38px;
    color: white;
  }

.text-container{
    width: 100%;
}

.margin-top{
    margin-top: 20px;
}